
.container{
     max-width: 1200px;
     height: 550px;
     display: grid;
     grid-gap: 20px;
     grid-template-columns: repeat(2,1fr);
     border: 2px solid black;
     align-items: center;
     margin: auto;
     padding: 10px;
}

.text-section{
     padding: 0px 50px;
}

.text-section  h1{
     font-size: 40px;
}

.text-section p{
     color: #4c665d;
}

button{
     font-size: 14px;
     color: #ffffff;
     background: #000000;
     margin: 30px 0px 0px;
     padding: 10px 50px;
     border: 0px;
}


.img-section{
     background-color: yellow;
     height: 100%;
     max-height: 90vh;
}

.img-section img{
     width: 80%;
     height: 100%;
}