
nav{
     width: 1200px;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     align-items: center;
     margin: auto;
}

nav img{
     width: 60px;
}

nav a{
     padding: 0px 50px 0px 0px;
     font-size: 18px;
     color: #000;
     font-weight: bold;
     text-decoration: none;

}

nav a:hover{
     color: #0fdb6b;
}

nav button{
     width: 120px;
     height: 30px;
     background: #0fdb6b;
     border: 0;
     border-radius: 5px;
     font-size: 14px;
     font-weight: bold;
}

.container{
     width: 1200px;
     height: 500px;
     display: grid;
     align-items: center;
     grid-template-columns: repeat(2,1fr);
     padding: 10px;
     margin: auto;
     grid-gap: 20px;
}

.text-section h1{
     font-size: 40px;
     font-weight: bold;
}

.text-section p{
     color: #4c665d;
}

.text-section button{
     padding: 10px 50px;
     border: 0;
     background: #000;
     color: #fff;
     margin-top: 30px;
}

.image-section{
     height: 100%;
     max-height: 100vh;
     background: yellow;

}

.image-section img{
     width: 70%;
     height: 100%;
}

.section-3{
     max-width: 1200px;
     display: grid;
     align-items: center;
     background-color: #2b1e16;
     grid-template-columns: repeat(3,1fr);
     margin: auto;

}

.sub-section{
     margin: 10px 50px;
     text-align: center;
}

.sub-section h1{
     font-size: 36px;
     color: #fff;
}

.sub-section p{
     color: #8c6e54;
}

.sub-section img{
     width: 150px;
}

.section-4{
     display: grid;
     max-width: 1300px;
     align-items:center;
     grid-template-columns: repeat(3,1fr);
     column-gap: 20px;
     padding:20px 0px;
     margin: auto;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.section-4 .sub-section{
     text-align: center;
     overflow: hidden;
     margin-bottom: 0px;
     margin-left: 50px;
     width: 10 0%;
     border-radius: 25px 25px 0px 0px;
}

.section-4 .sub-section img{
     width: 100%;
     text-align: center;
     height: 280px;
     margin-top: -50px;
}

.section-4 .sub-section h2{
     padding: 10px 0px;
     margin: 0px;
     margin-left: 10px;
     font-size: 24px;
}

.section-4 .sub-section p{
     margin-top: 0px;
     margin-left: 10px;
     font-size: 15px;
}

.section-4 .text-section{
     position: relative;
     background: #fff;
     margin-top: 0px;
     top: -50px;
     text-align: left;
     border: 1px solid black;
     border-radius: 0px 0px 25px 25px; 
}